* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Matter';
  }

  /* BASIC SETUP */
  
  .page-wrapper {
    width: 100%;
    height: auto;
  }
  
  .nav-wrapper {
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #fff;
  }
  
  .grad-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
        -webkit-animation: gradbar 15s ease infinite;
      -moz-animation: gradbar 15s ease infinite;
      animation: gradbar 15s ease infinite;
  }
  
  /* LOGO */
  .logo-wrapper {
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-wrapper h1 {
      padding-top: 10px;
      float: right;
  }

  #logo {
      height: 90px;
  }
  /* NAVIGATION */
  
  .navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    overflow: hidden;
    max-width: 1650px;
  }
  
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-self: end;
  }
  
  .nav-item {
    padding-right: 20px;
  }

  .nav-item a {
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease-out;
  }
  
  .nav-item a:hover {
    color: #3498db;
  }
  
  /* MOBILE MENU & ANIMATION */
  
  .menu-toggle .bar{
    width: 25px;
    height: 3px;
    background-color: #3f3f3f;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .menu-toggle {
    justify-self: end;
    margin-right: 25px;
    display: none;
  }
  
  .menu-toggle:hover{
    cursor: pointer;
  }
  
  #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
  }
  
  #mobile-menu.is-active .bar:nth-child(1){
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  
  #mobile-menu.is-active .bar:nth-child(3){
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  
  /* KEYFRAME ANIMATIONS */
  
  @-webkit-keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  @-moz-keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  @keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  /* Media Queries */
  
    /* Mobile Devices - Phones/Tablets */
  
  @media only screen and (max-width: 720px) { 
    .features {
      flex-direction: column;
      padding: 50px;
    }
    
    /* MOBILE NAVIGATION */
       
    .navbar ul {
      display: flex;
      flex-direction: column;
      position: fixed;
      justify-content: start;
      top: 92px;
      background-color: #fff;
      width: 100%;
      height: calc(100vh - 55px);
      transform: translate(-101%);
      text-align: center;
      overflow: hidden;
    }
    
    .navbar li {
      padding: 15px;
    }
    
    .navbar li:first-child {
      margin-top: 50px;
    }
    
    .navbar li a {
      font-size: 1rem;
    }
     
    .menu-toggle, .bar {
      display: block;
      cursor: pointer;
    }
    
    .mobile-nav {
    transform: translate(0%)!important;
    }
    }